/* Hacks */ 
* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* General Styling */ 
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Starfield Game Styling */ 
nav {
	background-color: white;
	width: 10%;
    position: absolute;
    text-align: center;
    padding: 1%;
}

#infoPane {
	position: absolute;
	background-color: grey;
	width: 10%;
	right: 0px;
	top: 0px;
	height: 100%;
	top: 0px;
}
section {
	border-bottom: 2px solid black;
	margin: 3%;
}
#sectionA, #sectionB {
	height: 25%;
}
#sectionC {
	height: 50%;
}
h2 {
	font-weight: bold;
	text-align: center;
}
section p {
	text-align: center;
	border: 1px black solid;
	margin: 15%
}
ul li {
	list-style: disc;
}
img {
	position: absolute;
	width: 150px;
}
#mars {
	bottom: 10%;
	left: 10%;
}
#comet {
	bottom: 10%;
	left: 41%;
}
#europa {
	bottom: 10%;
	right: 10%;
}
#pluto {
	top: 40%;
	left: 24%;
}
#hdab {
	top: 40%;
	right: 24%;

}
#kepler {
	top: 10%;
	left: 10%;
}
#kic {
	top: 10%;
	left: 41%;
}
#andromeda {
	top: 10%;
	right: 10%;

}
#spaceship {
	bottom: 2%;
}
footer {
	position: absolute; 
	bottom: 0px;
	background-color: green;
	height:45px;
    width:100%;
    border-radius: 90px 90px 0 0;
    text-align: center;
}

/* Mars Styling */ 
#marsBody {
	background: url(../images/marssurface.png) no-repeat top center #131e27;
}
#plantFlag {
	background: beige;
    width: 10%;
    margin-left: 47%;
    margin-top: 35%;
    border-radius: 11px;
    padding: 4px;
    text-align: center;
}


/* About Page Styling */
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}
h2 {
	text-align: left;
	padding: 5px;
}
.abouts p {
	padding: 10px;
}















