/* Hacks */ 
* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* General Styling */ 
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#leftSide .row div {
	text-align: center;
}


/* Starfield Game Styling */ 
nav {
	background-color: white;
	width: 10%;
    position: absolute;
    text-align: center;
    padding: .5%;
    border-radius: 5px;
    opacity: .75;
}
nav a {
	text-decoration: none;
	color: black;
}
nav a:hover {
	font-weight: bold;
}
section {
	border-bottom: 2px solid black;
	margin: 3%;
}
#sectionA, #sectionB {
	height: 25%;
}
#sectionC {
	height: 50%;
}
h2 {
	font-weight: bold;
	text-align: center;
}
section p {
	text-align: center;
	border: 1px black solid;
	margin: 15%
}
ul li {
	list-style: disc;
}
img {
	max-width: 134px;
}
#hdab {
	margin-right: 40%;
}
#pluto {
	margin-left: 40%;
}	
#andromeda {
	margin-top: 11%;
}
.eduInfo {
	background-color: white;
	opacity: .75;
	position: absolute;
	padding: 20px;
	/*display: none;*/
}
#keplerInfo {
	left: 15%;
}
#marsInfo {
	left: 15%;
}
#plutoInfo {
	left: 58%;
}
#hdabInfo {
	right:58%;
}
#kicInfo {
	left: 37%;
}
#cometInfo {
	left: 37%;
	bottom: 103%;
}
#europaInfo {
	right: 15%;
}
#andromedaInfo {
	right: 15%;
}
#right {
	background-color: grey;
	opacity: .75;
	height: 100%;
}
#spaceship {
	left: 496px;
	bottom: 116px;
	position: absolute;
	height: 13%;
}
#topRow {
	margin-top: 5%;
	margin-bottom: 2%;
}
#bottomPlanetRow {
	margin-bottom: 10%;
	margin-top: 2%;
}
#leftSide nav {
	display: none;
}
#infoPane {
	background-color: grey;
	opacity: .75;
	height: 100%;
}


/* Mars Styling */ 
#marsBody {
	background: url(../images/marssurface.png) no-repeat top center #131e27;
	background-size: 1970px;
	cursor: url(../images/astro.png);
}
#plantFlag {
	background: beige;
    width: 140px;
    left: 50%;
    top: 300px;
    border-radius: 11px;
    padding: 4px;
    text-align: center;
    position: absolute;
    transform: translateX(-50%);
    cursor: hand;
}
#spaceshipOnMars {
	position: absolute;
	top: 0;
	left: 0; 
}
#flag {
	position: absolute;
    top: 22%;
    left: 47%;
    display: none;
}
#explore {
	background: beige;
	width: 140px; 
	border-radius: 11px;
	padding: 4px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 1%;
}
#explore a {
	text-decoration: none;
	color: black;
}
#plantFlag a{
	text-decoration: none;
	color: black;
}
#explore a:hover {
	font-weight: bold;
}
#plantFlag a:hover {
	font-weight: bold;
}



/* About Page Styling */
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}
h2 {
	text-align: left;
	padding: 5px;
}
.abouts p {
	padding: 10px;
}















