/* Hacks */ 
* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* General Styling */ 
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 1em;
  cursor: url(../images/astronaut.png),default;
}
#leftSide .row div {
	text-align: center;
}
@font-face {
	font-family: spaceport;
	src: url(spaceport.ttf);
}


/********** Starfield Game Styling *********/ 
/*General*/ 
nav {
	background-color: white;
	width: 10%;
    position: absolute;
    text-align: center;
    padding: .5%;
    border-radius: 5px;
    opacity: .75;
}
nav a {
	text-decoration: none;
	color: black;
}
nav a:hover {
	font-weight: bold;
}
section {
	border-bottom: 2px solid black;
	margin: 3%;
}
#sectionA, #sectionB {
	height: 25%;
}
#sectionC {
	height: 50%;
}
#sectionC h2 {
	padding-bottom: 15%;
}
h2 {
	font-weight: bold;
	text-align: center;
}
section p {
	text-align: center;
	border: 1px black solid;
	margin: 15%;
	padding: 2%;
}
img {
	max-width: 134px;
}
/*Sidebar*/
ul li {
	list-style: disc;
	list-style-position: inside;
	text-align: left;
	font-size: .75em;
}

/*Celestial Bodies*/ 
#hdab {
	margin-right: 40%;
}
#pluto {
	margin-left: 40%;
}	
#andromeda {
	margin-top: 11%;
}
/*Info Boxes*/ 
.eduInfo {
	background-color: white;
	opacity: .75;
	position: absolute;
	padding: 0px;
	border-radius: 5px;
	width: 50%;
	display: none;
}
.eduInfo:hover {
	cursor: default;
}
.eduInfo h2 {
	text-align: center;
	padding-bottom:0px;
	font-family: spaceport;
}
.eduInfo em {
	font-weight: bold;
}
.eduInfo p {
	font-size: .8em;
}
.basicInfo {
	padding-bottom: 1%;
}
.funFact {
	padding-bottom: 1%;
}
#keplerInfo {
	left: 25%;
}
#marsInfo {
	left: 8%;
    bottom: -79%;
}
#marsLink {
	text-decoration: none;
	color: red;
	font-size: .9em;
}
#marsLink:hover {
	font-weight: bold;
}
.captainsLog {
	text-decoration: none;
	font-size: .9em;
	cursor: hand;
}
.captainsLog:hover {
	font-weight: bold;
	cursor: hand;
}
#plutoInfo {
	left: 51%;
	width: 37%;
}
#hdabInfo {
	right: 48%;
    width: 39%;
}
#kicInfo {
	left: 25%;
    width: 51%;
    padding-left:.5%;
    padding-right:.5%;
}
#cometInfo {
	width: 97%;
	left: 8%;
    bottom: -80%;
}
#europaInfo {
	right: -8%;
    bottom: -82%;
}
#andromedaInfo {
	right: 25%;
}
/*Bootstrap Positioning*/ 
#right {
	background-color: grey;
	opacity: .75;
	height: 100%;
}
#spaceship {
	left: 496px;
	bottom: 116px;
	position: absolute;
	height: 13%;
}
#topRow {
	margin-top: 5%;
	margin-bottom: 2%;
}
#bottomPlanetRow {
	margin-bottom: 8%;
	margin-top: 2%;
}
#leftSide nav {
	display: none;
}
#infoPane {
	background-color: grey;
	opacity: .75;
	height: 100%;
	font-family: spaceport;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}
#infoPane h2 {
	text-align: center;
}
/* Lightbox Styling */ 
.modalTitle {
	text-align: center;
	font-size: 2em;
	font-family: spaceport;
}
.modalBody {
	text-align: center;
	padding: 5%;
}
#introModal .modalBody {
	padding-top: 5%;
    padding-bottom: 2%;
}
#howTo {
	margin-top: 2%;
	margin-bottom:5%;
}
#instructions {
	margin-bottom: 2%;
}
small {
	font-size: .75em;
	font-family: spaceport;
}




/************* Mars Styling ***********/ 
#marsBody {
	background: url(../images/marssurface.png) no-repeat top center #131e27;
	background-size: 1970px;
	cursor: url(../images/astronaut.png),default;
}
#plantFlag {
	background: beige;
    width: 140px;
    left: 50%;
    top: 300px;
    border-radius: 11px;
    padding: 4px;
    text-align: center;
    position: absolute;
    transform: translateX(-50%);
    cursor: hand;
}
#spaceshipOnMars {
	position: absolute;
	top: 0;
	left: 0; 
}
#flag {
	position: absolute;
    top: 22%;
    left: 47%;
    display: none;
}
#explore {
	background: beige;
	width: 140px; 
	border-radius: 11px;
	padding: 4px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 1%;
	cursor: hand;
}
#explore a {
	text-decoration: none;
	color: black;
}
#plantFlag a{
	text-decoration: none;
	color: black;
}
#explore a:hover {
	font-weight: bold;
}
#plantFlag a:hover {
	font-weight: bold;
}



/* About Page Styling */
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}
h2 {
	text-align: left;
	padding: 5px;
}
.abouts p {
	padding: 10px;
}















