/********** General Global *********/ 

/* Hacks */ 
* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* General Styling */ 
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 1em;
  cursor: url(../images/astronaut.png),default;
  max-width: 1280px;
}
@font-face {
	font-family: spaceport;
	src: url(spaceport.ttf);
}



/********** Starfield Game Styling *********/ 

/*Bootstrap and Global Styles*/ 
h2 {
	font-weight: bold;
	text-align: center;
}
img {
	max-width: 134px;
}
button {
	font-family: spaceport;
	padding: 3px;
}

/*Mission Control*/ 
#infoPane {
	background-color: grey;
	opacity: .75;
	height: 100%;
	font-family: spaceport;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}
#infoPane h2 {
	text-align: center;
}
section {
	border-bottom: 2px solid black;
	margin: 3%;
}
#sectionA, #sectionB {
	height: 25%;
}
#sectionC {
	height: 50%;
}
#sectionC h2 {
	padding-bottom: 15%;
}
section p {
	text-align: center;
	border: 1px black solid;
	margin: 15%;
	padding: 2%;
}
ul li {
	list-style: disc;
	list-style-position: inside;
	text-align: left;
	font-size: .75em;
}
#email {
	position: fixed;
    bottom: 11px;
    right: 19px;
    text-decoration: none;
    color: white;
}
#email:hover {
	cursor: hand;
	font-weight: bold;
}

/*Celestial Bodies requiring special position trailoring*/ 
#hdab {
	margin-right: 40%;
}
#pluto {
	margin-left: 40%;
}	
#andromeda {
	margin-top: 11%;
}
#spaceship {
	left: 496px;
	bottom: 116px;
	position: absolute;
	height: 13%;
}

/*Educational Info Boxes - General Styling*/ 
.eduInfo {
	background-color: white;
	opacity: .75;
	position: absolute;
	padding: 0px;
	border-radius: 5px;
	width: 50%;
	display: none;
}
.eduInfo:hover {
	cursor: default;
}
.eduInfo h2 {
	text-align: center;
	padding-bottom:0px;
	font-family: spaceport;
}
.eduInfo em {
	font-weight: bold;
}
.eduInfo p {
	font-size: .8em;
}
.basicInfo {
	padding-bottom: 1%;
}
.funFact {
	padding-bottom: 1%;
}
#marsLink {
	text-decoration: none;
	color: red;
	font-size: .9em;
}
#marsLink:hover {
	font-weight: bold;
}
.captainsLog {
	text-decoration: none;
	font-size: .9em;
	cursor: hand;
}
.captainsLog:hover {
	font-weight: bold;
	cursor: hand;
}

/*Educational Info Boxes - special tailoring and positioning*/ 
#keplerInfo {
	left: 71%;
    top: 0%;
}
#marsInfo {
	left: 69%;
    top: 34%;
}
#plutoInfo {
	left: 49%;
    top: -83%;
    width: 37%;
    padding: 1px;
}
#hdabInfo {
    right: 16%;
    bottom: 10%;
    width: 39%;
}
#kicInfo {
	left: 25%;
    width: 51%;
    padding-left:.5%;
    padding-right:.5%;
}
#cometInfo {
	width: 97%;
	left: 8%;
    bottom: -80%;
}
#europaInfo {
    right: -32%;
    bottom: -49%;
    width: 71%;
}
#andromedaInfo {
	right: 5%;
    width: 68%;
    top: -39%;
}

/*Bootstrap Positioning*/ 
#topRow {
	margin-top: 5%;
	margin-bottom: 2%;
}
#bottomPlanetRow {
	margin-bottom: 8%;
	margin-top: 2%;
}
#leftSide .row div {
	text-align: center;
}

/* Lightbox Styling */ 
.modalTitle {
	text-align: center;
	font-size: 2em;
	font-family: spaceport;
}
.modalBody {
	text-align: center;
	padding: 5%;
}
#introModal .modalBody {
	padding-top: 5%;
    padding-bottom: 2%;
}
#arrowHowTo {
	margin-top: 2%;
	margin-bottom:5%;
}
#logInstructions {
	margin-bottom: 2%;
}
small {
	font-size: .75em;
	font-family: spaceport;
}



/************* Mars Styling ***********/ 
#marsBody {
	background: url(../images/marssurface.png) no-repeat top center #131e27;
	background-size: 1970px;
	cursor: url(../images/astronaut.png),default;
}
#spaceshipOnMars {
	position: absolute;
	top: 0;
	left: 0; 
}
#flag {
	position: absolute;
    top: 22%;
    left: 47%;
    display: none;
}
/*Buttons*/ 
#marsBody button {
	font-family: spaceport;
	padding: 7px;
    padding-top: 9px;
	background: beige;
	text-align: center;
	position: absolute;
	border-radius: 11px;
	cursor: hand;
	font-size: 1.1em;
}
#marsBody button a {
	text-decoration: none;
	color: black;
}
#marsBody button a:hover {
	font-weight: bold;
	cursor: hand;
} 
#plantFlag {
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
}
#explore {
	right: 1%;
	top: 1%;
}


/* About Page Styling */
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}
h2 {
	text-align: left;
	padding: 5px;
}
.abouts p {
	padding: 10px;
}















