/*
Project Name: Relaxr Blog
Client: Relaxr
Author: Savanna Rovira
Developer @GA in DC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #f0efef;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}
header {
  background-color: #033048;
  margin: 0px;
  overflow: auto;
  width: 100%;
  padding: 5px;
}
header h1 {
  color: white;
  font-weight: 800;
  font-size: 40px;
  padding-left: 30px;
  display: inline;
  width: 20%;
}
header nav {
  color: #f9e42e;
  font-weight: 600;
  font-size: 24px;
  float: right;
}
header ul {
  margin: 0;
  padding: 5px 5px 5px 0px;    
  overflow: auto;
  width: 20%;
  display: inline;

}
header li {
  width: 14%;
  list-style: none;
  padding: 14px 40px;
  float: left;
  margin-right: 4%;
}
header nav a{ 
  text-decoration: none;
  color: #f9e42e;
}
article {
  border-bottom: 3px #606161 solid;
  width: 75%; 
  float: left;
  padding: 10px 20px 20px 40px; /*So I know that to make border-bottom only on the article and not bleeding into the end of the page, I need to use margin-left here instead of left padding. But when I do that, my page gets messed up. I know that box sizing doesn't work on margins, but how can I avoid this happening? I switched my widths on my aside and my article to percentages to try to avoid any wierd scaling issues.*/
}
article h2 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin: 10px;
}
article p {
  color: #121212;
  font-weight: 300;
  font-size: 24px;
  margin: 5px;
  padding-bottom: 25px;
}
article p::first-letter {
  font-size: 62px;
  font-weight: 600;
  display: inline-block;
  padding: 0px 16px 11px 0px;
  float: left;
}
article a {
  color:#033048;
  font-weight: 600;
  font-size: 24px;
  float: right;
  text-decoration: none;
}
article img {
  width: 100%;
}
aside {
  width: 25%;
  float: right;
  padding: 10px;
}
aside h3 {
  color: #033048;
  font-weight: 800;
  font-size: 32px;
  margin: 0px;
}
aside ul {
  color: #033048;
  font-weight: 300;
  font-size: 24px;
  padding: 0px;
  margin-top: 10px;
}
aside p {
  color: #033048;
  font-weight: 300;
  font-size: 22px;
  margin: 0px;
  padding-top: 10px;
}
aside nav a {
  text-decoration: none;
  color: #121212;
  display: block;
}
#asidelink {
  color: #033048;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
}
.signUpButton {
  text-align: center;
  background-color: #f9e42e;
  padding: 25px;
  width: 100%;
  clear: both;
  border-bottom: none;
  margin-top: 50px;
}
.signUpButton button {
  background-color: #033048;
  color: white;
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 25px;
  box-shadow: none;
  border: 0;
}
.pageFooter {
  text-align: center;
  color: white;
  background-color: #121212;
  padding: 20px;
  width: 100%;
  clear: both;
}
footer p {
  color: #f9e42e;
  font-weight: 800;
  font-size: 24px;
  padding-bottom: 20px;
}
.facebookPhoto {
  background-image: url(../images/facebook.png);
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  margin-left: 15px;
}
.twitterPhoto {
  background-image: url(../images/twitter.png);
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
}
small {
  font-weight: 600;
  font-size: 9px;
  padding-top: 20px;
  display: block;
}
a:hover, a:active {
    text-decoration: underline;
    font-weight: bold;
}
#container {
  margin: auto;
  width: 960px;
}





